html, body {
  /* display: flex; */
  padding: 0px;
  background-color: #313131;

}

.titulo {
  position: absolute;
  width: 517px;
  height: 74px;
  left: 306px;
  top: 63px;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 79px;
  color: #FFFFFF;
}

h2 {
  position: absolute;
  width: 111px;
  height: 15px;
  left: 307px;
  top: 165px;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

#input-moeda {
  margin-top: 15px;
  position: absolute;
  width: 171px;
  height: 48px;
  left: 306px;
  top: 185px; 
  background: rgba(217, 217, 217, 0.1);
  border-radius: 10px;
}

#botao-pesquisa {
  margin-top: 17px;
  position: absolute;
  padding-left: 10px;
  box-sizing: border-box;
  width: 171px;
  height: 48px;
  left: 491px;
  top: 185px;
  background: #96EB95;
  border: 1px solid #96EB95;
  border-radius: 10px;
  font-family: 'Fira Code';
  font-style: normal;
  font-size: 20px; 
  font-weight: bold;
}

#info-moeda {
  position: absolute;
  width: 384px;
  height: 30px;
  left: 50%;
  top: 0px;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}

ul {
  justify-content: center;
}


#container {
  position: absolute;
  width: 900px;
  height: 583px;
  left: 306px;
  top: 290px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 20px;
}

#container-2 {
  display: flex;
  flex-direction: column;
}