
front-end/sessao-01-introducao-ao-frontend-e-javascript-assincrono/dia-02-javascript-assincrono-promises-e-fetch/estudos-e-anotacoes.js

fundamentos/sessao-06-html-e-css-forms-flexbox-e-responsivo/dia-01-html-e-css-forms/entenda-o-prevent-default/estudos/

