.super-mario {
  width: 200px;
  position: relative;
  top: 0px;
  z-index: 1;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 350px;
  left: 80px;
  z-index: 2;
}

.baloon {
  position: absolute;
  z-index: 4;
  top: 100px;
  left: 270px;

}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 5;
  top: 145px;
  left: 290px;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 540px;
  top: 250px;
  width: 300px;
  z-index: 3;
}
